/* ===== Code ===== */
*::-webkit-scrollbar {
     display: none;
}

:root {
     interpolate-size: allow-keywords;
}

.bg-main {
     font-family: "Open Sans";
     background: linear-gradient(to top, rgb(3, 7, 18), rgba(0, 0, 0, 0)), url("../images/jpg/02.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
}

.teks-arab {
     font-family: "Amiri Quran";
}